openapi: 3.0.3
info:
  title: Multi-Tenant PBX API
  description: |
    Complete PBX management system with multi-tenant isolation and Asterisk configuration deployment.

    ## 🌐 Using Curl Examples

    All curl examples in this documentation use `${YOUR_SERVER_URL}` as a placeholder.

    **To use the examples, set your server URL first:**
    ```bash
    # Set your server URL (replace with your actual server)
    export YOUR_SERVER_URL="http://localhost:3000"
    # or
    export YOUR_SERVER_URL="http://13.250.137.192:3000"

    # Then copy and paste any curl example from this documentation
    # The ${YOUR_SERVER_URL} will automatically be replaced
    ```

    **Alternatively**, the **"Try it out"** button in Swagger UI will use your current browser URL automatically - no manual URL replacement needed!

    ## 🔐 Authentication Flow - IMPORTANT

    **There are TWO separate authentication systems:**

    ### 1️⃣ Admin Authentication (ONE-TIME SETUP ONLY)
    **Use ONLY for:**
    - Creating organizations
    - Getting organization credentials
    - Admin-only operations

    **DO NOT use admin token for regular API calls!**

    ```bash
    # Step 1: Admin authentication
    POST /admin/auth
    {
      "admin_username": "pbx_admin",
      "admin_password": "YOUR_ADMIN_PASSWORD"
    }
    # Returns: { "token": "ADMIN_JWT_TOKEN", ... }

    # Step 2: Get organization credentials (using ADMIN token)
    GET /admin/organizations/{orgId}/credentials
    Authorization: Bearer ADMIN_JWT_TOKEN
    # Returns: { "api_key": "org_...", "api_secret_plaintext": "secret_..." }
    ```

    ### 2️⃣ Organization Authentication (ALL REGULAR API CALLS)
    **Use for ALL PBX operations** (trunks, DIDs, users, queues, etc.)

    ```bash
    # Step 1: Authenticate organization (using credentials from admin)
    POST /auth/login
    {
      "api_key": "YOUR_ORG_API_KEY",
      "api_secret": "secret_testorg7h8k2m"
    }
    # Returns: { "token": "ORG_JWT_TOKEN", ... }

    # Step 2: Use ORG token for ALL subsequent operations
    # ✅ CREATE TRUNK - use ORG_JWT_TOKEN (NOT admin token!)
    POST /trunks
    Authorization: Bearer ORG_JWT_TOKEN
    { "name": "Main Trunk", "host": "sip.provider.com" }

    # ✅ CREATE USER - use ORG_JWT_TOKEN (NOT admin token!)
    POST /users
    Authorization: Bearer ORG_JWT_TOKEN
    { "extension": "1001", "username": "john", ... }

    # ✅ CREATE QUEUE - use ORG_JWT_TOKEN (NOT admin token!)
    POST /queues
    Authorization: Bearer ORG_JWT_TOKEN
    { "name": "Support", "number": "5000" }
    ```

    ## 📝 Complete Workflow Example

    ```bash
    # === STEP 1: ONE-TIME ADMIN SETUP ===

    # 1.1: Admin login
    ADMIN_TOKEN=$(curl -s -X POST ${YOUR_SERVER_URL}/api/v1/admin/auth \
      -H "Content-Type: application/json" \
      -d '{"admin_username": "pbx_admin", "admin_password": "YOUR_ADMIN_PASSWORD"}' \
      | jq -r '.token')

    # 1.2: Get organization credentials (using ADMIN token)
    ORG_CREDS=$(curl -s -X GET ${YOUR_SERVER_URL}/api/v1/admin/organizations/ORG_ID/credentials \
      -H "Authorization: Bearer $ADMIN_TOKEN")

    API_KEY=$(echo $ORG_CREDS | jq -r '.api_key')
    API_SECRET=$(echo $ORG_CREDS | jq -r '.api_secret_plaintext')

    # === STEP 2: ORGANIZATION LOGIN (DO THIS EVERY TIME) ===

    # 2.1: Authenticate as organization
    ORG_TOKEN=$(curl -s -X POST ${YOUR_SERVER_URL}/api/v1/auth/login \
      -H "Content-Type: application/json" \
      -d "{\"api_key\": \"$API_KEY\", \"api_secret\": \"$API_SECRET\"}" \
      | jq -r '.token')

    # === STEP 3: USE ORG_TOKEN FOR ALL API CALLS ===

    # 3.1: Create SIP Trunk (using ORG_TOKEN, NOT admin token!)
    curl -X POST ${YOUR_SERVER_URL}/api/v1/trunks \
      -H "Authorization: Bearer $ORG_TOKEN" \
      -H "Content-Type: application/json" \
      -d '{"name": "Main Provider", "host": "sip.provider.com", "port": 5060}'

    # 3.2: Create DID (using ORG_TOKEN, NOT admin token!)
    curl -X POST ${YOUR_SERVER_URL}/api/v1/dids \
      -H "Authorization: Bearer $ORG_TOKEN" \
      -H "Content-Type: application/json" \
      -d '{"number": "+15550123", "trunk_id": "TRUNK_UUID", "routing_type": "queue"}'

    # 3.3: Create User (using ORG_TOKEN, NOT admin token!)
    curl -X POST ${YOUR_SERVER_URL}/api/v1/users \
      -H "Authorization: Bearer $ORG_TOKEN" \
      -H "Content-Type: application/json" \
      -d '{"extension": "1001", "username": "john", "email": "john@company.com", "password": "pass123"}'
    ```

    ## ⚠️ Common Mistakes to Avoid

    ❌ **WRONG:** Using admin token for creating trunks/users/queues
    ✅ **CORRECT:** Use organization token (from `/auth/login`)

    ❌ **WRONG:** Mixing up admin credentials with organization credentials
    ✅ **CORRECT:** Admin credentials only for `/admin/*` endpoints

    ## 🚀 Configuration Deployment

    Many endpoints automatically deploy configuration changes to Asterisk:
    - Adding/removing queue members
    - Creating/updating users and extensions
    - Modifying SIP trunks and DIDs

    The `/config/deploy` endpoint is also available for manual deployment.

  version: 1.0.0
  contact:
    email: support@pbxapi.com

servers:
  - url: http://localhost:3000
    description: Development server
  - url: https://api.pbx.example.com
    description: Production server

security:
  - BearerAuth: []

tags:
  - name: Admin Authentication
    description: Admin-level authentication endpoints
  - name: Admin - Global Settings
    description: Global PBX configuration settings (admin only)
  - name: Authentication
    description: Organization authentication
  - name: Organization Management
    description: Organization CRUD operations
  - name: SIP Trunks
    description: SIP trunk management
  - name: DID Numbers
    description: DID number management and routing
  - name: Users
    description: User and extension management
  - name: Queues
    description: Call queue management
  - name: IVR
    description: Interactive Voice Response configuration
  - name: Outbound Routes
    description: Outbound call routing rules
  - name: Call Management
    description: Active call management and control
  - name: Call Routing
    description: Call routing and click-to-call
  - name: Webhooks
    description: Webhook configuration for events
  - name: Configuration Management
    description: Asterisk configuration deployment
  - name: Testing
    description: Test endpoints

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token obtained from `/auth/login` (for organization operations)
        or `/admin/auth` (for admin operations).

        **Usage:** Click "Authorize" button above, enter your token, then all requests will include it automatically.

  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: |
            Organization name - used to generate context prefix for multi-tenant isolation.

            **Validation Rules:**
            - Must be 3-50 characters long
            - Cannot contain spaces
            - Cannot start or end with special characters
            - Only alphanumeric characters and hyphens allowed
            - Must start and end with alphanumeric characters

            **Examples:**
            - Valid: "MyCompany", "ACME-Corp", "TestOrg123"
            - Invalid: "My Company" (spaces), "-ACME" (starts with special char), "Test!" (special char)
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]$|^[a-zA-Z0-9]$'
          minLength: 3
          maxLength: 50
          example: "TestOrg"
        domain:
          type: string
          description: Organization domain
          example: "testorg.local"
        context_prefix:
          type: string
          description: Auto-generated context prefix based on organization name (lowercase)
          example: "testorg_"
        api_key:
          type: string
          description: Organization API key
          example: "YOUR_ORG_API_KEY"
        status:
          type: string
          enum: [active, suspended, deleted]
          example: "active"
        settings:
          type: object
          properties:
            max_trunks:
              type: integer
              example: 5
            max_dids:
              type: integer
              example: 10
            max_users:
              type: integer
              example: 50
            max_queues:
              type: integer
              example: 10
            recording_enabled:
              type: boolean
              example: false
            webhook_enabled:
              type: boolean
              example: true
            features:
              type: object
              properties:
                call_transfer:
                  type: boolean
                  example: true
                call_recording:
                  type: boolean
                  example: true
                voicemail:
                  type: boolean
                  example: true
                conference:
                  type: boolean
                  example: true
                ivr:
                  type: boolean
                  example: true
                ai_agent:
                  type: boolean
                  example: false
        limits:
          type: object
          properties:
            concurrent_calls:
              type: integer
              example: 10
            monthly_minutes:
              type: integer
              example: 10000
            storage_gb:
              type: integer
              example: 10
        contact_info:
          type: object
          properties:
            email:
              type: string
              format: email
              example: "admin@company.com"
            phone:
              type: string
              example: "+1-555-0123"
            address:
              type: string
              example: "123 Main St, City, State"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SipTrunk:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        org_id:
          type: string
          format: uuid
          example: "2c662bff-8f80-483a-8235-74fd48965a9c"
        name:
          type: string
          example: "Main SIP Provider"
        host:
          type: string
          example: "sip.provider.com"
        username:
          type: string
          example: "myaccount"
        password:
          type: string
          description: SIP password (write-only, not returned in responses)
        port:
          type: integer
          example: 5060
        transport:
          type: string
          enum: [udp, tcp, tls]
          example: "udp"
        status:
          type: string
          enum: [active, inactive]
          example: "active"
        max_channels:
          type: integer
          example: 10
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    DidNumber:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "d1e2f3a4-b5c6-7890-abcd-ef1234567890"
        org_id:
          type: string
          format: uuid
          example: "2c662bff-8f80-483a-8235-74fd48965a9c"
        trunk_id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        number:
          type: string
          example: "+15550123456"
        description:
          type: string
          example: "Main customer support line"
        routing_type:
          type: string
          enum: [extension, queue, ivr, ai_agent]
          example: "queue"
        routing_destination:
          type: string
          example: "queue-uuid-here"
        recording_enabled:
          type: boolean
          example: true
        status:
          type: string
          enum: [active, inactive]
          example: "active"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "u1s2e3r4-5678-90ab-cdef-1234567890ab"
        org_id:
          type: string
          format: uuid
          example: "2c662bff-8f80-483a-8235-74fd48965a9c"
        extension:
          type: string
          example: "1001"
        username:
          type: string
          example: "john.doe"
        full_name:
          type: string
          example: "John Doe"
        email:
          type: string
          format: email
          example: "john.doe@company.com"
        role:
          type: string
          enum: [admin, supervisor, agent, user]
          example: "agent"
        sip_password:
          type: string
          description: SIP extension password (write-only)
        status:
          type: string
          enum: [active, inactive]
          example: "active"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Queue:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "q1u2e3u4-5678-90ab-cdef-1234567890ab"
        org_id:
          type: string
          format: uuid
          example: "2c662bff-8f80-483a-8235-74fd48965a9c"
        name:
          type: string
          example: "Support Queue"
        number:
          type: string
          example: "5000"
        strategy:
          type: string
          enum: [ringall, leastrecent, fewestcalls, random, rrmemory, linear]
          example: "ringall"
        timeout:
          type: integer
          example: 30
        max_wait_time:
          type: integer
          example: 300
        music_on_hold:
          type: string
          example: "default"
        ring_sound:
          type: string
          example: "ring"
        recording_enabled:
          type: boolean
          example: true
        retry:
          type: integer
          example: 5
        status:
          type: string
          enum: [active, inactive]
          example: "active"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    QueueMember:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "m1e2m3b4-5678-90ab-cdef-1234567890ab"
        queue_id:
          type: string
          format: uuid
          example: "q1u2e3u4-5678-90ab-cdef-1234567890ab"
        user_id:
          type: string
          format: uuid
          example: "u1s2e3r4-5678-90ab-cdef-1234567890ab"
        penalty:
          type: integer
          example: 0
        paused:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time

    Ivr:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "i1v2r3-4567-89ab-cdef-1234567890ab"
        org_id:
          type: string
          format: uuid
          example: "2c662bff-8f80-483a-8235-74fd48965a9c"
        name:
          type: string
          example: "Main Menu"
        extension:
          type: string
          example: "1000"
          description: "IVR extension number for dialplan routing"
        description:
          type: string
          example: "Main company IVR menu"
        greeting_prompt:
          type: string
          example: "welcome"
          description: "Audio file for greeting message"
        timeout:
          type: integer
          example: 10
          description: "Timeout in seconds for digit input"
        max_retries:
          type: integer
          example: 3
          description: "Maximum retries for invalid input"
        invalid_prompt:
          type: string
          example: "invalid"
          description: "Audio file for invalid input message"
        timeout_prompt:
          type: string
          example: "timeout"
          description: "Audio file for timeout message"
        enable_direct_dial:
          type: boolean
          example: true
          description: "Allow direct extension dialing from IVR"
        status:
          type: string
          enum: [active, inactive]
          example: "active"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    IvrMenu:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "m1e2n3u4-5678-90ab-cdef-1234567890ab"
        ivr_id:
          type: string
          format: uuid
          example: "i1v2r3-4567-89ab-cdef-1234567890ab"
        digit:
          type: string
          enum: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "*", "#"]
          example: "1"
          description: "DTMF digit for this option"
        action_type:
          type: string
          enum: [extension, queue, ivr, voicemail, hangup, callback]
          example: "queue"
          description: "Type of action to perform"
        action_destination:
          type: string
          example: "queue-uuid-here"
          description: "Destination UUID for extension/queue/ivr, or null for hangup"
        description:
          type: string
          example: "Press 1 for Support"
        order:
          type: integer
          example: 1
          description: "Display order for menu options"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OutboundRoute:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "r1o2u3t4-5678-90ab-cdef-1234567890ab"
        org_id:
          type: string
          format: uuid
          example: "2c662bff-8f80-483a-8235-74fd48965a9c"
        name:
          type: string
          example: "US Long Distance"
          description: "Friendly name for this route"
        description:
          type: string
          example: "Route for US long distance calls"
        trunk_id:
          type: string
          format: uuid
          example: "trunk-uuid-here"
          description: "SIP trunk to use for outbound calls"
        dial_pattern:
          type: string
          example: "_1NXXNXXXXXX"
          description: "Asterisk dial pattern (e.g., _1NXXNXXXXXX, _011., _NXXXXXX)"
        dial_prefix:
          type: string
          example: "1"
          description: "Prefix to prepend to dialed number"
        strip_digits:
          type: integer
          default: 0
          example: 1
          description: "Number of digits to strip from beginning"
        prepend_digits:
          type: string
          example: "00"
          description: "Digits to prepend after stripping"
        caller_id_override:
          type: string
          example: "+15551234567"
          description: "Override caller ID for outbound calls"
        caller_id_name_override:
          type: string
          example: "Company Name"
          description: "Override caller ID name"
        recording_enabled:
          type: boolean
          default: false
          example: true
          description: "Enable call recording for this route"
        max_channels:
          type: integer
          example: 10
          description: "Maximum concurrent channels for this route"
        route_type:
          type: string
          enum: [emergency, local, long_distance, international, toll_free, custom]
          default: custom
          example: "long_distance"
          description: "Type of route for easier categorization"
        priority:
          type: integer
          default: 10
          example: 10
          description: "Priority order (lower number = higher priority)"
        time_conditions:
          type: object
          description: "Time-based routing conditions"
        user_permissions:
          type: object
          description: "User or group permissions for this route"
        status:
          type: string
          enum: [active, inactive]
          default: active
          example: "active"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        trunk:
          $ref: '#/components/schemas/SIPTrunk'

    CallRouting:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum: [time_based, caller_id, did_based]
        conditions:
          type: object
        destination_type:
          type: string
          enum: [extension, queue, ivr, ai_agent, external]
        destination:
          type: string
        priority:
          type: integer
        active:
          type: boolean

    Webhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "w1e2b3h4-5678-90ab-cdef-1234567890ab"
        org_id:
          type: string
          format: uuid
          example: "2c662bff-8f80-483a-8235-74fd48965a9c"
        url:
          type: string
          format: uri
          example: "https://myapp.com/webhook"
        events:
          type: array
          items:
            type: string
            enum: [call.initiated, call.ringing, call.answered, call.ended, call.failed, queue.entered, queue.abandoned]
          example: ["call.initiated", "call.answered", "call.ended"]
        secret:
          type: string
          example: "webhook-secret-key"
        active:
          type: boolean
          example: true
        retry_count:
          type: integer
          example: 3
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CallRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        call_id:
          type: string
        from_number:
          type: string
        to_number:
          type: string
        direction:
          type: string
          enum: [inbound, outbound]
        status:
          type: string
          enum: [ringing, answered, busy, failed, no-answer, completed]
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        duration:
          type: integer
        recording_url:
          type: string

    WebhookPayload:
      type: object
      properties:
        event:
          type: string
        timestamp:
          type: string
          format: date-time
        organization_id:
          type: string
          format: uuid
        data:
          type: object
          properties:
            call_id:
              type: string
            from:
              type: string
            to:
              type: string
            status:
              type: string
            duration:
              type: integer
            recording_url:
              type: string
            queue_id:
              type: string
            user_id:
              type: string

    ConfigurationVerificationResult:
      type: object
      properties:
        organization:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        timestamp:
          type: string
          format: date-time
        overall_status:
          type: string
          enum: [SUCCESS, WARNING, ERROR]
        checks:
          type: object
          properties:
            file_existence:
              $ref: '#/components/schemas/VerificationCheck'
            pjsip_config:
              $ref: '#/components/schemas/VerificationCheck'
            dialplan_config:
              $ref: '#/components/schemas/VerificationCheck'
            queue_config:
              $ref: '#/components/schemas/VerificationCheck'
            asterisk_syntax:
              $ref: '#/components/schemas/VerificationCheck'
            service_status:
              $ref: '#/components/schemas/VerificationCheck'

    VerificationCheck:
      type: object
      properties:
        status:
          type: string
          enum: [PASS, FAIL, WARNING]
        message:
          type: string
        details:
          type: object
        timestamp:
          type: string
          format: date-time

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
        token:
          type: string
        expires_in:
          type: integer
          description: Token expiration time in seconds (86400 for 24 hours)
        organization:
          $ref: '#/components/schemas/Organization'

    CallStatistics:
      type: object
      properties:
        total:
          type: integer
        active:
          type: integer
        completed:
          type: integer
        failed:
          type: integer
        average_duration:
          type: integer
        total_duration:
          type: integer
        by_status:
          type: object
        by_direction:
          type: object
        by_time_period:
          type: object

    HelperFunctionTest:
      type: object
      properties:
        function_name:
          type: string
        extension:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [available, unavailable, error]
        test_result:
          type: object

    GlobalSettings:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pjsip_transport:
          $ref: '#/components/schemas/PJSIPTransport'
        rtp_config:
          $ref: '#/components/schemas/RTPConfig'
        sip_global:
          $ref: '#/components/schemas/SIPGlobal'
        codecs:
          $ref: '#/components/schemas/CodecConfig'
        system:
          $ref: '#/components/schemas/SystemConfig'
        ami_config:
          $ref: '#/components/schemas/AMIConfig'
        security:
          $ref: '#/components/schemas/SecurityConfig'
        voicemail:
          $ref: '#/components/schemas/VoicemailConfig'
        logging:
          $ref: '#/components/schemas/LoggingConfig'
        features:
          $ref: '#/components/schemas/FeaturesConfig'
        custom_config:
          type: object
          nullable: true
        last_deployed_at:
          type: string
          format: date-time
          nullable: true
        deployed_by:
          type: string
          nullable: true
        version:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PJSIPTransport:
      type: object
      properties:
        udp:
          type: object
          properties:
            enabled:
              type: boolean
            bind:
              type: string
              example: "0.0.0.0:5060"
            external_media_address:
              type: string
              nullable: true
            external_signaling_address:
              type: string
              nullable: true
            local_net:
              type: array
              items:
                type: string
        tcp:
          type: object
          properties:
            enabled:
              type: boolean
            bind:
              type: string
        tls:
          type: object
          properties:
            enabled:
              type: boolean
            bind:
              type: string
            cert_file:
              type: string
              nullable: true
            privkey_file:
              type: string
              nullable: true
            cipher:
              type: string
            method:
              type: string
        wss:
          type: object
          properties:
            enabled:
              type: boolean
            bind:
              type: string
            cert_file:
              type: string
              nullable: true
            privkey_file:
              type: string
              nullable: true

    RTPConfig:
      type: object
      properties:
        rtp_start:
          type: integer
          example: 10000
        rtp_end:
          type: integer
          example: 20000
        rtcp_mux:
          type: boolean
        ice_support:
          type: boolean
        stun_server:
          type: string
          nullable: true
        turn_server:
          type: string
          nullable: true

    SIPGlobal:
      type: object
      properties:
        user_agent:
          type: string
        default_expiry:
          type: integer
        min_expiry:
          type: integer
        max_expiry:
          type: integer
        mwi_disable_initial_unsolicited:
          type: boolean
        ignore_uri_user_options:
          type: boolean
        send_rpid:
          type: boolean

    CodecConfig:
      type: object
      properties:
        allow:
          type: array
          items:
            type: string
        disallow:
          type: string

    SystemConfig:
      type: object
      properties:
        max_calls:
          type: integer
        max_channels_per_org:
          type: integer
        default_language:
          type: string
        enable_call_recording:
          type: boolean
        recording_format:
          type: string
        timezone:
          type: string

    AMIConfig:
      type: object
      properties:
        enabled:
          type: boolean
        bind_address:
          type: string
        port:
          type: integer
        webenabled:
          type: boolean
        timestampevents:
          type: boolean

    SecurityConfig:
      type: object
      properties:
        enable_acl:
          type: boolean
        permitted_networks:
          type: array
          items:
            type: string
        failed_auth_ban_threshold:
          type: integer
        failed_auth_ban_duration:
          type: integer
        enable_tls_verification:
          type: boolean

    VoicemailConfig:
      type: object
      properties:
        enabled:
          type: boolean
        max_msg_duration:
          type: integer
        min_msg_duration:
          type: integer
        max_messages:
          type: integer
        email_notifications:
          type: boolean
        attach_audio:
          type: boolean

    LoggingConfig:
      type: object
      properties:
        console_level:
          type: string
        syslog_level:
          type: string
        cdr_enabled:
          type: boolean
        cel_enabled:
          type: boolean
        queue_log_enabled:
          type: boolean

    FeaturesConfig:
      type: object
      properties:
        enable_call_parking:
          type: boolean
        enable_call_pickup:
          type: boolean
        enable_call_transfer:
          type: boolean
        enable_call_waiting:
          type: boolean
        enable_caller_id:
          type: boolean
        enable_do_not_disturb:
          type: boolean
paths:
  # Authentication
  /auth/login:
    post:
      tags: [Authentication]
      summary: Generate JWT token (Organization authentication)
      description: |
        Authenticate organization using API key and secret to receive JWT token for API access.

        **Authentication Flow:**
        1. Get organization API credentials using admin endpoints
        2. Use these credentials to authenticate and receive JWT token
        3. Use JWT token for all subsequent API calls

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/auth/login \
          -H "Content-Type: application/json" \
          -d '{
            "api_key": "YOUR_ORG_API_KEY",
            "api_secret": "YOUR_ORG_API_SECRET"
          }'
        ```
      security: []  # No authentication required for login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [api_key, api_secret]
              properties:
                api_key:
                  type: string
                  description: Organization API key
                  example: "YOUR_ORG_API_KEY"
                api_secret:
                  type: string
                  description: Organization API secret (plain text)
                  example: "YOUR_ORG_API_SECRET"
            example:
              api_key: "YOUR_ORG_API_KEY"
              api_secret: "YOUR_ORG_API_SECRET"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  token:
                    type: string
                    description: JWT token for API authentication
                  expires_in:
                    type: integer
                    description: Token expiration time in seconds (86400 for 24 hours)
                  organization:
                    $ref: '#/components/schemas/Organization'
              example:
                success: true
                token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                expires_in: 86400
                organization:
                  id: "2c662bff-8f80-483a-8235-74fd48965a9c"
                  name: "TestOrg"
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Invalid API key or secret"

  /admin/auth:
    post:
      tags: [Admin Authentication]
      summary: Admin authentication
      description: |
        Authenticate as system administrator using credentials from environment variables.
        This endpoint provides access to administrative functions like managing organizations
        and retrieving organization credentials.

        **Required Environment Variables:**
        - `ADMIN_USERNAME`: System admin username
        - `ADMIN_PASSWORD`: System admin password

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/admin/auth \
          -H "Content-Type: application/json" \
          -d '{
            "admin_username": "pbx_admin",
            "admin_password": "YOUR_ADMIN_PASSWORD"
          }'
        ```
      security: []  # No authentication required for admin login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin_username, admin_password]
              properties:
                admin_username:
                  type: string
                  description: Admin username from environment variables
                  example: "pbx_admin"
                admin_password:
                  type: string
                  description: Admin password from environment variables
                  example: "YOUR_ADMIN_PASSWORD"
            example:
              admin_username: "pbx_admin"
              admin_password: "YOUR_ADMIN_PASSWORD"
      responses:
        '200':
          description: Admin authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  token:
                    type: string
                    description: JWT token with admin privileges
                  expires_in:
                    type: integer
                    description: Token expiration time in seconds (86400 for 24 hours)
                  message:
                    type: string
              example:
                success: true
                token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                expires_in: 86400
                message: "Admin authenticated successfully"
        '401':
          description: Invalid admin credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Invalid admin credentials"
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  required_fields:
                    type: array
                    items:
                      type: string
              example:
                error: "Admin credentials required"
                required_fields: ["admin_username", "admin_password"]

  /admin/organizations/{organizationId}/credentials:
    get:
      tags: [Admin Authentication]
      summary: Get organization API credentials
      description: |
        Retrieve organization API credentials with fresh plain text API secret.
        This endpoint generates a new plain text API secret for the organization,
        replacing the previous one. Use the returned credentials for organization authentication.

        **Authentication:** Requires admin JWT token from `/admin/auth` endpoint.

        **Important:** The returned `api_secret_plaintext` should be used for organization authentication,
        not the hashed version.

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/admin/organizations/2c662bff-8f80-483a-8235-74fd48965a9c/credentials \
          -H "Authorization: Bearer YOUR_ADMIN_TOKEN"
        ```
      security:
        - BearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Organization UUID
          example: "2c662bff-8f80-483a-8235-74fd48965a9c"
      responses:
        '200':
          description: Organization credentials retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  api_key:
                    type: string
                    description: Organization API key for authentication
                  api_secret_plaintext:
                    type: string
                    description: Plain text API secret (use this for authentication)
                  api_secret_hash:
                    type: string
                    description: Hashed version stored in database (for reference only)
                  note:
                    type: string
                    description: Usage instructions
              example:
                id: "2c662bff-8f80-483a-8235-74fd48965a9c"
                name: "TestOrg"
                api_key: "YOUR_ORG_API_KEY"
                api_secret_plaintext: "secret_testorg7h8k2m"
                api_secret_hash: "$2b$10$Xy7uV3mNqP2rS8tK5wQ6J..."
                note: "Fresh API secret generated. Use api_secret_plaintext for API calls."
        '401':
          description: Unauthorized - Invalid or missing admin token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: "Admin authentication required"
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: "Organization not found"

  /admin/organizations:
    get:
      security:
        - BearerAuth: []
      tags: [Admin Authentication]
      summary: List all organizations (Admin only)
      description: |
        Retrieve a list of all organizations in the system.

        **Authentication:** Requires admin JWT token from `/admin/auth` endpoint.

        This endpoint is for admin use only and returns all organizations regardless of which admin token is used.

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/admin/organizations \
          -H "Authorization: Bearer YOUR_ADMIN_TOKEN"
        ```
      responses:
        '200':
          description: List of all organizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
              example:
                - id: "2c662bff-8f80-483a-8235-74fd48965a9c"
                  name: "TestOrg"
                  domain: "testorg.local"
                  context_prefix: "testorg_"
                  status: "active"
                  settings:
                    max_trunks: 5
                    max_dids: 10
                    features:
                      ai_agent: false
                  createdAt: "2025-09-17T17:28:10.899Z"
                - id: "3d773c0f-493d-4061-b3f3-4d42134234g2"
                  name: "AnotherOrg"
                  domain: "anotherorg.local"
                  context_prefix: "anotherorg_"
                  status: "active"
                  settings:
                    max_trunks: 10
                    max_dids: 20
                    features:
                      ai_agent: true
                  createdAt: "2025-09-18T10:15:22.123Z"
        '401':
          description: Unauthorized - Invalid or missing admin token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: "Admin authentication required"

  # Configuration Management
  /config/verify:
    get:
      tags: [Configuration Management]
      summary: Verify organization configuration
      description: |
        Comprehensive verification of organization's Asterisk configuration including PJSIP, dialplan, queues, and helper functions

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/config/verify \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Verification completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationVerificationResult'
              example:
                organization:
                  id: "2c662bff-8f80-483a-8235-74fd48965a9c"
                  name: "TestOrg"
                timestamp: "2025-09-17T16:28:04.028Z"
                overall_status: "SUCCESS"
                checks:
                  file_existence:
                    status: "PASS"
                    message: "All configuration files exist"
                  pjsip_config:
                    status: "PASS"
                    message: "4 PJSIP endpoints loaded successfully"
                  dialplan_config:
                    status: "PASS"
                    message: "17 helper functions available"

  /config/deploy:
    post:
      tags: [Configuration Management]
      summary: Deploy organization configuration
      description: |
        Deploy and reload organization configuration to Asterisk using AMI 'core reload' command.

        **Important:** Uses `core reload` instead of module-specific reloads to avoid dropping active calls.

        **Example curl:**
        ```bash
        curl -X POST http://localhost:3000/api/v1/config/deploy \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{"reload": true}'
        ```
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reload:
                  type: boolean
                  default: true
                  description: Whether to reload Asterisk after deployment (default true)
      responses:
        '200':
          description: Configuration deployed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deployment:
                    type: object
                    description: Deployment result details
                  reload:
                    type: object
                    properties:
                      success:
                        type: boolean
                      method:
                        type: string
                        example: "AMI"
                      action:
                        type: string
                        example: "core reload"
                      message:
                        type: string
                        example: "Asterisk configuration reloaded successfully without dropping calls"
              example:
                success: true
                deployment:
                  files_written: 5
                  organization: "mytest"
                reload:
                  success: true
                  method: "AMI"
                  action: "core reload"
                  message: "Asterisk configuration reloaded successfully without dropping calls"

  /config/test-helpers:
    get:
      tags: [Configuration Management]
      summary: Test helper functions
      description: |
        Test all dialplan helper functions for the organization

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/config/test-helpers \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Helper function test results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  organization:
                    type: object
                  helper_functions:
                    type: array
                    items:
                      $ref: '#/components/schemas/HelperFunctionTest'

  /config/report:
    get:
      security:
        - BearerAuth: []
      tags: [Configuration Management]
      summary: Generate verification report
      description: |
        Generate detailed verification report in Markdown format

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/config/report \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      produces:
        - text/markdown
      responses:
        '200':
          description: Verification report in Markdown format
          content:
            text/markdown:
              schema:
                type: string

  /config/list:
    get:
      security:
        - BearerAuth: []
      tags: [Configuration Management]
      summary: List organization configurations
      description: |
        List all configuration files for the organization

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/config/list \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      responses:
        '200':
          description: Configuration file list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  configurations:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        path:
                          type: string
                        exists:
                          type: boolean
                        size:
                          type: integer

  /config/reload:
    post:
      security:
        - BearerAuth: []
      tags: [Configuration Management]
      summary: Reload Asterisk configuration via AMI
      description: |
        Reload Asterisk configuration using AMI 'core reload' command without dropping active calls.

        **Important:** Uses `core reload` to safely reload configuration without affecting active calls.

        **Note:** No request body required. This endpoint uses AMI to execute the core reload command.
      responses:
        '200':
          description: Configuration reloaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  method:
                    type: string
                    example: "AMI"
                  action:
                    type: string
                    example: "core reload"
                  message:
                    type: string
                    example: "Asterisk configuration reloaded successfully without dropping calls"
              example:
                success: true
                method: "AMI"
                action: "core reload"
                message: "Asterisk configuration reloaded successfully without dropping calls"

  # Organization Management
  /organizations:
    get:
      security:
        - BearerAuth: []
      tags: [Organization Management]
      summary: List all organizations
      description: |
        Get all organizations for the authenticated organization (returns only the organization that owns the token)

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/organizations \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      responses:
        '200':
          description: List of organizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized - Invalid or missing token
    post:
      tags: [Organization Management]
      summary: Create new organization
      description: |
        Create a new organization with admin authentication required. Supports full configuration including settings, limits, and features.

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/organizations \
          -H "Content-Type: application/json" \
          -d '{
            "name": "SecureTestCompany",
            "admin_username": "pbx_admin",
            "admin_password": "YOUR_ADMIN_PASSWORD",
            "settings": {
              "max_trunks": 10,
              "max_users": 100,
              "features": {
                "ai_agent": true
              }
            },
            "limits": {
              "concurrent_calls": 50,
              "monthly_minutes": 50000
            },
            "contact_info": {
              "email": "admin@testcompany.com",
              "phone": "+1-555-0123"
            }
          }'
        ```
      security: []  # No API key required, uses admin credentials instead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, admin_username, admin_password]
              properties:
                name:
                  type: string
                  description: |
                    Organization name - used to generate context prefix for multi-tenant isolation.

                    **Validation Rules:**
                    - Must be 3-50 characters long
                    - Cannot contain spaces
                    - Cannot start or end with special characters
                    - Only alphanumeric characters and hyphens allowed
                    - Must start and end with alphanumeric characters

                    **Examples:**
                    - Valid: "MyCompany", "ACME-Corp", "TestOrg123"
                    - Invalid: "My Company" (spaces), "-ACME" (starts with special char), "Test!" (special char)
                  pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]$|^[a-zA-Z0-9]$'
                  minLength: 3
                  maxLength: 50
                  example: "TestOrg"
                domain:
                  type: string
                  description: Organization domain (auto-generated from name if not provided)
                  example: "testorg.local"
                status:
                  type: string
                  enum: [active, suspended, deleted]
                  default: active
                admin_username:
                  type: string
                  description: Admin username from environment variables
                  example: "pbx_admin"
                admin_password:
                  type: string
                  description: Admin password from environment variables
                  example: "YOUR_ADMIN_PASSWORD"
                settings:
                  type: object
                  description: Organization settings including resource limits and feature flags
                  properties:
                    max_trunks:
                      type: integer
                      default: 5
                    max_dids:
                      type: integer
                      default: 10
                    max_users:
                      type: integer
                      default: 50
                    max_queues:
                      type: integer
                      default: 10
                    recording_enabled:
                      type: boolean
                      default: false
                    webhook_enabled:
                      type: boolean
                      default: true
                    features:
                      type: object
                      properties:
                        call_transfer:
                          type: boolean
                          default: true
                        call_recording:
                          type: boolean
                          default: true
                        voicemail:
                          type: boolean
                          default: true
                        conference:
                          type: boolean
                          default: true
                        ivr:
                          type: boolean
                          default: true
                        ai_agent:
                          type: boolean
                          default: false
                limits:
                  type: object
                  description: Organization resource limits
                  properties:
                    concurrent_calls:
                      type: integer
                      default: 10
                    monthly_minutes:
                      type: integer
                      default: 10000
                    storage_gb:
                      type: integer
                      default: 10
                contact_info:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                    phone:
                      type: string
                    address:
                      type: string
              example:
                name: "SecureTestCompany"
                admin_username: "pbx_admin"
                admin_password: "YOUR_ADMIN_PASSWORD"
                settings:
                  max_trunks: 10
                  max_users: 100
                  features:
                    ai_agent: true
                limits:
                  concurrent_calls: 50
                  monthly_minutes: 50000
                contact_info:
                  email: "admin@testcompany.com"
                  phone: "+1-555-0123"
      responses:
        '201':
          description: Organization created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Organization'
                  - type: object
                    properties:
                      api_key:
                        type: string
                        description: API key for organization authentication
                      api_secret:
                        type: string
                        description: API secret for organization authentication
              example:
                id: "054d633e-382c-4fe0-a2f2-3c31023123f1"
                name: "Secure Test Company"
                context_prefix: "org_mfo99g9e_"
                api_key: "YOUR_ORG_API_KEY"
                api_secret: "YOUR_ORG_API_SECRET"
                status: "active"
                settings:
                  max_trunks: 5
                  max_dids: 10
                  max_users: 50
                  max_queues: 10
                  recording_enabled: false
                  webhook_enabled: true
                  features:
                    call_transfer: true
                    call_recording: true
                    voicemail: true
                    conference: true
                    ivr: true
                    ai_agent: false
                limits:
                  concurrent_calls: 10
                  monthly_minutes: 10000
                  storage_gb: 10
                createdAt: "2025-09-17T17:28:10.899Z"
                updatedAt: "2025-09-17T17:28:10.899Z"
        '401':
          description: Unauthorized - Invalid admin credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  required_fields:
                    type: array
                    items:
                      type: string
              examples:
                missing_credentials:
                  summary: Missing admin credentials
                  value:
                    error: "Admin credentials required"
                    required_fields: ["admin_username", "admin_password"]
                invalid_credentials:
                  summary: Invalid admin credentials
                  value:
                    error: "Invalid admin credentials"
        '400':
          description: Bad request - Invalid input data
        '500':
          description: Internal server error

  # SIP Trunk Management
  /trunks:
    get:
      tags: [SIP Trunks]
      summary: List all SIP trunks
      description: |
        Retrieve all SIP trunks for the organization

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/trunks \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of SIP trunks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SipTrunk'
    post:
      tags: [SIP Trunks]
      summary: Create new SIP trunk
      description: |
        Create a new SIP trunk for inbound/outbound calling.

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/trunks \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "name": "Main SIP Provider",
            "host": "sip.provider.com",
            "port": 5060,
            "username": "myaccount",
            "password": "secret123",
            "transport": "udp"
          }'
        ```
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, host]
              properties:
                name:
                  type: string
                  example: "Main SIP Provider"
                host:
                  type: string
                  example: "sip.provider.com"
                username:
                  type: string
                  example: "myaccount"
                password:
                  type: string
                  example: "secret123"
                port:
                  type: integer
                  default: 5060
                  example: 5060
                transport:
                  type: string
                  enum: [udp, tcp, tls]
                  default: udp
                  example: "udp"
                max_channels:
                  type: integer
                  default: 10
                  example: 10
            example:
              name: "Main SIP Provider"
              host: "sip.provider.com"
              port: 5060
              username: "myaccount"
              password: "secret123"
              transport: "udp"
      responses:
        '201':
          description: Trunk created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipTrunk'

  /trunks/{trunkId}:
    get:
      tags: [SIP Trunks]
      summary: Get trunk details
      description: |
        Retrieve details of a specific SIP trunk

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/trunks/TRUNK_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      security:
        - BearerAuth: []
      parameters:
        - name: trunkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Trunk details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipTrunk'
    put:
      tags: [SIP Trunks]
      summary: Update trunk
      description: |
        Update an existing SIP trunk

        **Example curl:**
        ```bash
        curl -X PUT ${YOUR_SERVER_URL}/api/v1/trunks/TRUNK_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "name": "Updated SIP Provider",
            "host": "sip.newprovider.com",
            "port": 5060,
            "transport": "tcp"
          }'
        ```
      security:
        - BearerAuth: []
      parameters:
        - name: trunkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SipTrunk'
      responses:
        '200':
          description: Trunk updated
    delete:
      tags: [SIP Trunks]
      summary: Delete trunk
      description: |
        Delete a SIP trunk

        **Example curl:**
        ```bash
        curl -X DELETE ${YOUR_SERVER_URL}/api/v1/trunks/TRUNK_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      security:
        - BearerAuth: []
      parameters:
        - name: trunkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Trunk deleted

  # DID Number Management
  /dids:
    get:
      security:
        - BearerAuth: []
      tags: [DID Numbers]
      summary: List all DID numbers
      description: |
        Retrieve all DID numbers for the organization

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/dids \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      responses:
        '200':
          description: List of DID numbers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DidNumber'
    post:
      security:
        - BearerAuth: []
      tags: [DID Numbers]
      summary: Add new DID number
      description: |
        Create a new DID number and configure its routing.

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/dids \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "number": "+15550123456",
            "trunk_id": "TRUNK_UUID",
            "routing_type": "queue",
            "routing_destination": "QUEUE_UUID",
            "description": "Main customer support line",
            "recording_enabled": true
          }'
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [number, trunk_id, routing_type, routing_destination]
              properties:
                number:
                  type: string
                  example: "+15550123456"
                trunk_id:
                  type: string
                  format: uuid
                  example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                description:
                  type: string
                  example: "Main customer support line"
                routing_type:
                  type: string
                  enum: [extension, queue, ivr, ai_agent]
                  example: "queue"
                routing_destination:
                  type: string
                  example: "queue-uuid-here"
                recording_enabled:
                  type: boolean
                  default: false
                  example: true
            example:
              number: "+15550123456"
              trunk_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
              routing_type: "queue"
              routing_destination: "queue-uuid-here"
              description: "Main customer support line"
              recording_enabled: true
      responses:
        '201':
          description: DID created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DidNumber'

  /dids/{didId}:
    get:
      security:
        - BearerAuth: []
      tags: [DID Numbers]
      summary: Get DID details
      description: |
        Retrieve details of a specific DID number

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/dids/DID_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: didId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: DID details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DidNumber'
    put:
      security:
        - BearerAuth: []
      tags: [DID Numbers]
      summary: Update DID
      description: |
        Update an existing DID number

        **Example curl:**
        ```bash
        curl -X PUT ${YOUR_SERVER_URL}/api/v1/dids/DID_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "number": "+15550123456",
            "description": "Updated support line",
            "routing_type": "extension",
            "routing_destination": "1001"
          }'
        ```
      parameters:
        - name: didId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DidNumber'
      responses:
        '200':
          description: DID updated
    delete:
      security:
        - BearerAuth: []
      tags: [DID Numbers]
      summary: Delete DID
      description: |
        Delete a DID number

        **Example curl:**
        ```bash
        curl -X DELETE ${YOUR_SERVER_URL}/api/v1/dids/DID_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: didId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: DID deleted

  /dids/{didId}/routing:
    put:
      security:
        - BearerAuth: []
      tags: [DID Numbers]
      summary: Update DID routing
      description: |
        Update routing configuration for a DID number

        **Example curl:**
        ```bash
        curl -X PUT ${YOUR_SERVER_URL}/api/v1/dids/DID_UUID/routing \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "routing_type": "queue",
            "routing_destination": "QUEUE_UUID"
          }'
        ```
      parameters:
        - name: didId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [routing_type, routing_destination]
              properties:
                routing_type:
                  type: string
                  enum: [extension, queue, ivr, ai_agent]
                routing_destination:
                  type: string
      responses:
        '200':
          description: Routing updated

  # Call Routing
  /routing:
    post:
      security:
        - BearerAuth: []
      tags: [Call Routing]
      summary: Create routing rule
      description: |
        Create a new call routing rule with conditions

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/routing \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "destination_type": "queue",
            "destination": "QUEUE_UUID",
            "conditions": {
              "time_of_day": {
                "start": "09:00",
                "end": "17:00"
              },
              "day_of_week": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
            }
          }'
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [destination_type, destination]
              properties:
                destination_type:
                  type: string
                  enum: [queue, ai_agent, extension]
                destination:
                  type: string
                  description: Queue ID, AI agent ID, or extension number
                conditions:
                  type: object
                  properties:
                    time_of_day:
                      type: object
                    day_of_week:
                      type: array
                      items:
                        type: string
                    caller_id_pattern:
                      type: string
      responses:
        '201':
          description: Routing rule created

  # User Management
  /users:
    get:
      security:
        - BearerAuth: []
      tags: [Users]
      summary: List all users
      description: |
        Retrieve all users for the organization

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/users \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      security:
        - BearerAuth: []
      tags: [Users]
      summary: Create new user
      description: |
        Create a new user with SIP extension and web portal access.

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/users \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "extension": "1001",
            "username": "john.doe",
            "password": "SecurePass123!",
            "email": "john.doe@company.com",
            "full_name": "John Doe",
            "role": "agent"
          }'
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [extension, username, password, email]
              properties:
                extension:
                  type: string
                  example: "1001"
                username:
                  type: string
                  example: "john.doe"
                password:
                  type: string
                  example: "SecurePass123!"
                full_name:
                  type: string
                  example: "John Doe"
                email:
                  type: string
                  format: email
                  example: "john.doe@company.com"
                role:
                  type: string
                  enum: [admin, supervisor, agent, user]
                  default: user
                  example: "agent"
            example:
              extension: "1001"
              username: "john.doe"
              password: "SecurePass123!"
              email: "john.doe@company.com"
              full_name: "John Doe"
              role: "agent"
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/{userId}:
    get:
      security:
        - BearerAuth: []
      tags: [Users]
      summary: Get user details
      description: |
        Retrieve details of a specific user

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/users/USER_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      security:
        - BearerAuth: []
      tags: [Users]
      summary: Update user
      description: |
        Update an existing user

        **Example curl:**
        ```bash
        curl -X PUT ${YOUR_SERVER_URL}/api/v1/users/USER_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "extension": "1001",
            "username": "john.doe",
            "email": "john.doe@company.com",
            "full_name": "John Doe Updated",
            "role": "supervisor"
          }'
        ```
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: User updated
    delete:
      security:
        - BearerAuth: []
      tags: [Users]
      summary: Delete user
      description: |
        Delete a user

        **Example curl:**
        ```bash
        curl -X DELETE ${YOUR_SERVER_URL}/api/v1/users/USER_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: User deleted

  # Queue Management
  /queues:
    get:
      security:
        - BearerAuth: []
      tags: [Queues]
      summary: List all queues
      description: |
        Retrieve all call queues for the organization

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/queues \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      responses:
        '200':
          description: List of queues
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Queue'
    post:
      security:
        - BearerAuth: []
      tags: [Queues]
      summary: Create new queue
      description: |
        Create a new call queue for distributing calls to agents.

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/queues \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "name": "Support Queue",
            "number": "5000",
            "strategy": "ringall",
            "timeout": 30,
            "music_on_hold": "default",
            "recording_enabled": true
          }'
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, number]
              properties:
                name:
                  type: string
                  example: "Support Queue"
                number:
                  type: string
                  example: "5000"
                strategy:
                  type: string
                  enum: [ringall, leastrecent, fewestcalls, random, rrmemory, linear]
                  default: ringall
                  example: "ringall"
                timeout:
                  type: integer
                  default: 15
                  example: 30
                max_wait_time:
                  type: integer
                  default: 300
                  example: 300
                music_on_hold:
                  type: string
                  default: default
                  example: "default"
                ring_sound:
                  type: string
                  default: ring
                  example: "ring"
                recording_enabled:
                  type: boolean
                  default: false
                  example: true
            example:
              name: "Support Queue"
              number: "5000"
              strategy: "ringall"
              timeout: 30
              music_on_hold: "default"
              recording_enabled: true
      responses:
        '201':
          description: Queue created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Queue'

  /queues/{queueId}:
    get:
      security:
        - BearerAuth: []
      tags: [Queues]
      summary: Get queue details
      description: |
        Retrieve details of a specific queue

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/queues/QUEUE_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: queueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Queue details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Queue'
    put:
      security:
        - BearerAuth: []
      tags: [Queues]
      summary: Update queue
      description: |
        Update an existing queue

        **Example curl:**
        ```bash
        curl -X PUT ${YOUR_SERVER_URL}/api/v1/queues/QUEUE_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "name": "Updated Support Queue",
            "number": "5000",
            "strategy": "fewestcalls",
            "timeout": 45
          }'
        ```
      parameters:
        - name: queueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Queue'
      responses:
        '200':
          description: Queue updated
    delete:
      security:
        - BearerAuth: []
      tags: [Queues]
      summary: Delete queue
      description: |
        Delete a queue

        **Example curl:**
        ```bash
        curl -X DELETE ${YOUR_SERVER_URL}/api/v1/queues/QUEUE_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: queueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Queue deleted

  /queues/{queueId}/members:
    post:
      security:
        - BearerAuth: []
      tags: [Queues]
      summary: Add member to queue
      description: |
        Add a user as a member to the specified queue. This endpoint automatically
        triggers configuration deployment to ensure the new queue member is
        immediately available in the Asterisk system.

        **Automatic Actions:**
        1. Add queue member to database
        2. Deploy updated configuration to Asterisk
        3. Reload queue configuration in real-time

        **Note:** Configuration deployment happens automatically. No additional
        API calls are needed to make the queue member active.

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/queues/QUEUE_UUID/members \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "user_id": "USER_UUID",
            "penalty": 0
          }'
        ```
      parameters:
        - name: queueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Queue UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id:
                  type: string
                  format: uuid
                  description: User UUID to add as queue member
                penalty:
                  type: integer
                  default: 0
                  description: Queue member penalty (0 = highest priority)
            example:
              user_id: "bf25246a-9434-4ef1-963f-2ac0fe6dcf9a"
              penalty: 0
      responses:
        '201':
          description: Member added successfully and configuration deployed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  queue_member:
                    $ref: '#/components/schemas/QueueMember'
                  configuration_deployed:
                    type: boolean
                    description: Indicates if Asterisk configuration was automatically deployed
              example:
                success: true
                message: "Queue member added successfully"
                queue_member:
                  id: "uuid-generated"
                  queue_id: "queue-uuid"
                  user_id: "bf25246a-9434-4ef1-963f-2ac0fe6dcf9a"
                  penalty: 0
                  paused: false
                configuration_deployed: true

    delete:
      security:
        - BearerAuth: []
      tags: [Queues]
      summary: Remove member from queue
      description: |
        Remove a user from a queue

        **Example curl:**
        ```bash
        curl -X DELETE "${YOUR_SERVER_URL}/api/v1/queues/QUEUE_UUID/members?userId=USER_UUID" \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: queueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Member removed

  /queues/{queueId}/music:
    put:
      security:
        - BearerAuth: []
      tags: [Queues]
      summary: Update music on hold
      description: |
        Update music on hold settings for a queue

        **Example curl:**
        ```bash
        curl -X PUT ${YOUR_SERVER_URL}/api/v1/queues/QUEUE_UUID/music \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "music_on_hold": "default",
            "ring_sound": "ring"
          }'
        ```
      parameters:
        - name: queueId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [music_on_hold]
              properties:
                music_on_hold:
                  type: string
                ring_sound:
                  type: string
      responses:
        '200':
          description: Music settings updated

  # IVR Management
  /ivrs:
    get:
      security:
        - BearerAuth: []
      tags: [IVR]
      summary: List all IVRs
      description: |
        Retrieve all Interactive Voice Response (IVR) menus for the organization

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/ivrs \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      responses:
        '200':
          description: List of IVRs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ivr'
    post:
      security:
        - BearerAuth: []
      tags: [IVR]
      summary: Create new IVR
      description: |
        Create a new Interactive Voice Response menu system

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/ivrs \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "name": "Main Menu",
            "extension": "1000",
            "description": "Main company IVR menu",
            "greeting_prompt": "welcome",
            "timeout": 10,
            "max_retries": 3,
            "enable_direct_dial": true
          }'
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, extension]
              properties:
                name:
                  type: string
                  example: "Main Menu"
                extension:
                  type: string
                  example: "1000"
                  description: "IVR extension number for dialplan routing"
                description:
                  type: string
                  example: "Main company IVR menu"
                greeting_prompt:
                  type: string
                  example: "welcome"
                  description: "Audio file for greeting message"
                timeout:
                  type: integer
                  default: 10
                  example: 10
                  description: "Timeout in seconds for digit input"
                max_retries:
                  type: integer
                  default: 3
                  example: 3
                  description: "Maximum retries for invalid input"
                invalid_prompt:
                  type: string
                  example: "invalid"
                  description: "Audio file for invalid input message"
                timeout_prompt:
                  type: string
                  example: "timeout"
                  description: "Audio file for timeout message"
                enable_direct_dial:
                  type: boolean
                  default: false
                  example: true
                  description: "Allow direct extension dialing from IVR"
            example:
              name: "Main Menu"
              extension: "1000"
              description: "Main company IVR menu"
              greeting_prompt: "welcome"
              timeout: 10
              max_retries: 3
              enable_direct_dial: true
      responses:
        '201':
          description: IVR created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ivr'

  /ivrs/{ivrId}:
    get:
      security:
        - BearerAuth: []
      tags: [IVR]
      summary: Get IVR details
      description: |
        Retrieve details of a specific IVR menu

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/ivrs/IVR_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: ivrId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: IVR details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ivr'
    put:
      security:
        - BearerAuth: []
      tags: [IVR]
      summary: Update IVR
      description: |
        Update an existing IVR menu

        **Example curl:**
        ```bash
        curl -X PUT ${YOUR_SERVER_URL}/api/v1/ivrs/IVR_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "name": "Updated Main Menu",
            "greeting_prompt": "new-welcome",
            "timeout": 15
          }'
        ```
      parameters:
        - name: ivrId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                extension:
                  type: string
                description:
                  type: string
                greeting_prompt:
                  type: string
                timeout:
                  type: integer
                max_retries:
                  type: integer
                invalid_prompt:
                  type: string
                timeout_prompt:
                  type: string
                enable_direct_dial:
                  type: boolean
      responses:
        '200':
          description: IVR updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ivr'
    delete:
      security:
        - BearerAuth: []
      tags: [IVR]
      summary: Delete IVR
      description: |
        Delete an IVR menu

        **Example curl:**
        ```bash
        curl -X DELETE ${YOUR_SERVER_URL}/api/v1/ivrs/IVR_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: ivrId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: IVR deleted

  /ivrs/{ivrId}/menu-options:
    get:
      security:
        - BearerAuth: []
      tags: [IVR]
      summary: List IVR menu options
      description: |
        Retrieve all menu options for a specific IVR

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/ivrs/IVR_UUID/menu-options \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: ivrId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of menu options
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IvrMenu'
    post:
      security:
        - BearerAuth: []
      tags: [IVR]
      summary: Add menu option
      description: |
        Add a new menu option to an IVR

        **Example curl:**
        ```bash
        curl -X POST ${YOUR_SERVER_URL}/api/v1/ivrs/IVR_UUID/menu-options \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "digit": "1",
            "action_type": "queue",
            "action_destination": "QUEUE_UUID",
            "description": "Press 1 for Support"
          }'
        ```
      parameters:
        - name: ivrId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [digit, action_type]
              properties:
                digit:
                  type: string
                  enum: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "*", "#"]
                  example: "1"
                  description: "DTMF digit for this option"
                action_type:
                  type: string
                  enum: [extension, queue, ivr, voicemail, hangup, callback]
                  example: "queue"
                  description: "Type of action to perform"
                action_destination:
                  type: string
                  example: "QUEUE_UUID"
                  description: "Destination UUID for extension/queue/ivr, or null for hangup"
                description:
                  type: string
                  example: "Press 1 for Support"
                order:
                  type: integer
                  default: 0
                  example: 1
            example:
              digit: "1"
              action_type: "queue"
              action_destination: "queue-uuid-here"
              description: "Press 1 for Support"
              order: 1
      responses:
        '201':
          description: Menu option created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IvrMenu'

  /ivrs/{ivrId}/menu-options/{optionId}:
    get:
      security:
        - BearerAuth: []
      tags: [IVR]
      summary: Get menu option details
      description: |
        Retrieve details of a specific IVR menu option

        **Example curl:**
        ```bash
        curl -X GET ${YOUR_SERVER_URL}/api/v1/ivrs/IVR_UUID/menu-options/OPTION_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: ivrId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Menu option details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IvrMenu'
    put:
      security:
        - BearerAuth: []
      tags: [IVR]
      summary: Update menu option
      description: |
        Update an existing IVR menu option

        **Example curl:**
        ```bash
        curl -X PUT ${YOUR_SERVER_URL}/api/v1/ivrs/IVR_UUID/menu-options/OPTION_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "action_type": "extension",
            "action_destination": "1001",
            "description": "Press 1 for Sales"
          }'
        ```
      parameters:
        - name: ivrId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                digit:
                  type: string
                action_type:
                  type: string
                  enum: [extension, queue, ivr, voicemail, hangup, callback]
                action_destination:
                  type: string
                description:
                  type: string
                order:
                  type: integer
      responses:
        '200':
          description: Menu option updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IvrMenu'
    delete:
      security:
        - BearerAuth: []
      tags: [IVR]
      summary: Delete menu option
      description: |
        Delete an IVR menu option

        **Example curl:**
        ```bash
        curl -X DELETE ${YOUR_SERVER_URL}/api/v1/ivrs/IVR_UUID/menu-options/OPTION_UUID \
          -H "Authorization: Bearer YOUR_ORG_TOKEN"
        ```
      parameters:
        - name: ivrId
          in: path
          required: true
          schema:
[...]
